<a href="https://github.com/MAIT-OS/Hacktoberfest-inspector"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<div class="container text-center" style="">
	<div class="row">
		<h1 class="col-sm-12" style="font-family: Squealer;font-size: 5em;margin: 10% 0 10% 0; color: #fa615e; text-shadow: 3px -1px #fd9566, -2px -1px red;">Hacktober-Inspector</h1>
		<div class="form-group row col-sm-12">
			<input type="text" class="form-control col-sm-6  ml-auto" id="github_username" placeholder="Your GitHub Username">
			<input type="submit" class="btn btn-primary col-sm-1 mr-auto" value="Check" style="margin-left: 1%;" onclick="checkfromgithub($('#github_username').val())">
		</div>
	</div>
</div>
<div class="row">
	<h5 id="result" class="col-sm-10 col-md-6 ml-auto mr-auto" style="text-align: center;color:white;font-family: Squealer;font-size: 2em;margin: 1% 0 3% 0;"></h5>
	<div class="col-sm-12"></div>
	<h6 id="alert" class="col-sm-10 col-md-6 ml-auto mr-auto" style="text-align: center;color:white;font-family: Squealer;font-size: 2em;margin: 1% 0 3% 0;"></h6>
</div>
<div class="row" style="">
	<div id="result" class="col-md-6 ml-auto mr-auto">
		<div id="pr_data" style="background-color: white;width: 100%;text-align: center;display: flex;flex-wrap: wrap;align-items: center;text-align: center;">
		</div>
	</div>
</div>
<h1 style="font-family: Squealer;color: white;font-size: 2em;position: absolute;bottom: 5px;left: 10px">2017</h1>