<!DOCTYPE html>
<html>
  <head>
    <title>Hacktoberfest</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="height: 100vh; 
    background-image: -webkit-linear-gradient(bottom left, hsl(22, 100%, 46%) 0%, hsla(167, 91%, 42%, 0) 70%), -webkit-linear-gradient(top left, hsl(1, 34%, 50%) 10%, hsla(193, 94%, 50%, 0) 80%), -webkit-linear-gradient(top right, hsl(266, 66%, 27%) 10%, hsla(202, 92%, 45%, 0) 80%), -webkit-linear-gradient(bottom right, hsl(229, 45%, 41%) 100%, hsla(337, 100%, 41%, 0) 70%);
    background-image: -o-linear-gradient(bottom left, hsl(22, 100%, 46%) 0%, hsla(167, 91%, 42%, 0) 70%), -o-linear-gradient(top left, hsl(1, 34%, 50%) 10%, hsla(193, 94%, 50%, 0) 80%), -o-linear-gradient(top right, hsl(266, 66%, 27%) 10%, hsla(202, 92%, 45%, 0) 80%), -o-linear-gradient(bottom right, hsl(229, 45%, 41%) 100%, hsla(337, 100%, 41%, 0) 70%);
    background-image: linear-gradient(to top right, hsl(22, 100%, 46%) 0%, hsla(167, 91%, 42%, 0) 70%), linear-gradient(to bottom right, hsl(1, 34%, 50%) 10%, hsla(193, 94%, 50%, 0) 80%), linear-gradient(to bottom left, hsl(266, 66%, 27%) 10%, hsla(202, 92%, 45%, 0) 80%), linear-gradient(to top left, hsl(229, 45%, 41%) 100%, hsla(337, 100%, 41%, 0) 70%);
}
">
    <%= yield %>
  </body>
</html>
